<!DOCTYPE html>
{% load static %}
{% load cloudinary %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/post/styles.css' %}">
    <title>Sample Twitter</title>
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'post/images/favicon.png' %}">
	<meta name=”viewport” content=”width=device-width, initial-scale=1”>
</head>
<body>
	<div class="content">
		
		<header>
			<img class="header-icon" src="{% static 'post/images/post-default-icon.svg' %}">
			<h1>Tweet</h1>
		</header>

		<main>

			{% for post in posts %}
			<div class="tweet">
				<div class="tweet-icon">
					<img src="{% static 'post/images/post-default-icon.svg' %}">
				</div>
				<div class="tweet-content">
					<div class="tweet-name-area">
						<span class="tweet-name"><a href="{% url 'tweet-detail' post.id %}">{{ post.name }}</span>
						<span class="tweet-created-at">{{ post.created_at }}</span>
					</div>
					<p>
						{{ post.text }}
					</p>
					{% if post.image_path.url %}

					<img class="tweet-image" src="{{ post.image_path.url }}"></a>
					{% endif %}
					<div class="tweet-buttons">
						<a href="{% url 'reply' post.id %}">
						<img class="tweet-reply" src="{% static 'post/images/comment.svg' %}"></a>
						<div class="tweet-reply-count">{{ post.reply_count }}</div>
						<img class="tweet-like" src="{% static 'post/images/heart.svg' %}">
						<div class="tweet-like-count">{{ post.reply_count }}</div>
					</div>
				</div>
			</div>
			<br>
			{% endfor %}
		</main>


		<div class="post-tweet-button">
			<a href="post-tweet"><img src="{% static 'post/images/post-tweet.svg' %}"></a>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/post/twitter.js"></script>
</body>
</html>